body.exercicio{
    grid-template-rows:120px 60px 1fr 60px;
    grid-template-areas:
    "cabecalho"
    "navegacao"
    "principal"
    "rodape";
}
.principal{
    height: calc(100vh - 240px);
}
.navegacao{
    grid-area: navegacao;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
}
.navegacao > a{
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: rgb(33, 150, 243);
    padding: 5px 10px;
    margin-right: 10px;
}
.navegacao > a.verde{background-color:  green;}
.navegacao > a.vermelho{background-color:  red;}

.conteudo {
    font-size: 1.5rem;
}
.conteudo > .titulo {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}
.conteudo-grid{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1.5rem;
    margin: 0 auto;
    text-align: justify;
    max-width: 90%;
}
#grid-conteudo{
    background-color: #181918;
}
.grid{
    display: grid;
    grid-template-columns: repeat(
        auto-fill,minmax(33%,1fr)
    );
    grid-gap: 1px;
    max-width: 1180px;
    margin: 0 auto;
}
.grid div{
    background-color: #fff;
    text-align: center;
    padding: 2px;
}
.paragrafo{
    background-color: #fff;
    text-align: center;
    padding: 2px;
}